@keyframes moveleft{
    0%{
        opacity: 0;
        transform: translateX(-150px);
    }
    60%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveright{
0%{
    opacity: 0;
    transform: translateX(150px);
}
60%{
    transform: translateX(10px);
}
100%{
    opacity: 1;
    transform: translateX(0);
}
}
@keyframes movebot{
0%{
    opacity: 0;
    transform: translateY(50px);
}
100%{
    opacity: 1;
    transform: translateY(0);
}
}